# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = GROUPINFRA\\rotterb
email = bernhard.rotterb@cgi.com
[core]
	filemode = false
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status 

[diff]
	tool = ediff
# [difftool "ediff"]
# cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[merge]
  conflictstyle = diff3
  tool = ediff
[mergetool "ediff"]
 cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
 #cmd = emacsclient --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" \\\"$MERGED\\\")\"
 trustExitCode = true
       
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
